body {
  height: auto;
}

.header-info-container {
  display: flex;
  height: 260px;
}

.header-info_portret {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}

.info_portret-img {
  width: 190px;
  height: 260px;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 260px solid #1c7bb6;
  border-left: 40px solid transparent;
  position: absolute;
  z-index: 1;
}

.header-info_profile {
  background: #1c7bb6;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info_text {
  z-index: 1;
  width: 600px;
  height: auto;
  transition: width 2s;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.header-info_text:hover {
  width: 80%;
  box-shadow: 5px 5px 12px 8px white;
  background: #1c7bb6;
  z-index: 5;
  border-radius: 100px 10px 40px 50px;
}

.header-info_social {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-top: 20px;
}

.header-info_social div {
  display: flex;
  align-items: center;
  margin: 2px;
}

.header-info_links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 120px;
  right: 10px;
  z-index: 2;
}

.header-info_social div p {
  margin-bottom: 0;
  margin-left: 5px;
}

.header-info_links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #f91780;
  margin: 5px;
}

.header-info_links img:hover {
  border: none;
  box-shadow: 1px 1px 8px 2px white;
}

.square.one,
.square.two,
.square.three,
.square.four,
.square.five,
.square.six,
.square.seven,
.square.eight,
.square.nine,
.square.ten {
  width: 15px;
  height: 15px;
  background: #1c7bb6;
  box-shadow: 1px 1px 8px 2px white;
  position: absolute;
  border-radius: 2px;
}

.square.one {
  -ms-transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
  right: 0;
  top: 15px;
  background: #6eaacf;
}

.square.two {
  -ms-transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
  right: 8%;
  top: 180px;
  background: #385d74;
}

.square.three {
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  right: 17%;
  top: 30px;
  background: #4284ad;
}

.square.four {
  transform: translate(-25%, 10%) rotate(5deg);
  right: 28%;
  top: 130px;
  background: #385d74;
}

.square.five {
  -ms-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  transform: rotate(160deg);
  right: 40%;
  top: 20px;
  background: #3b88b8;
  background: #f91780;
}

.square.six {
  -ms-transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
  right: 56%;
  top: 150px;
  background: #385d74;
}

.square.seven {
  -ms-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  transform: rotate(160deg);
  right: 58%;
  top: 25px;
}

.square.eight {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  right: 70%;
  top: 40px;
  background: #f91780;
}

.square.nine {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  right: 76%;
  top: 150px;
  background: #385d74;
}

.square.ten {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  right: 82%;
  top: 25px;
}
